<header>
    <nav class="container">
        <a href="/">
            <div class="logo">
                <h1>Guia</h1>
                <h2>PERGUNTAS</h2>
            </div>
        </a>
        <a href="/makequestion">
            <i class="material-icons">add</i>
            Fazer pergunta
        </a>
    </nav>
</header>